@import '../../style/variables.scss';

.stars-container{
    display: flex;
    gap: 7px;

    @media (max-width: $small) {
        gap: 5px;
    }

    img{
        height: 24px;
        width: 24px;

        @media (max-width: $small) {
            height: 18px;
            width: 18px;
        }
    }
}