@import '../../style/variables.scss';

.fiche-logement-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    @media (min-width: $medium) {
        padding: 0 70px;
    }  
}