@import '../../style/variables.scss';

.a-propos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 43px;
    overflow: hidden;
    padding: 0 70px 0 70px;

    @media (max-width: $small) {
        padding: 0 20px;
        gap: 20px;
    }  

    .engagements-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        max-width: 100%;
        width: 100%;
    }

    @media (max-width: $small) {
        gap: 20px;
    }  
}