.a-propos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 43px;
    overflow: hidden;
    padding: 0 70px 0 70px;

    .engagements-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        max-width: 100%;
        width: 100%;
    }
}