@import '../../style/variables.scss';

footer{
    background-color: black;
    width: 100%;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 66px;
    color: white;
    text-align: center;

    @media (min-width: $medium) {
        gap: 28px;
    }

    p{
        max-width: 133px;

        @media (min-width: $medium) {
            max-width: 100%;
        }
    }
    
        .link{
            font-weight: bold;
        }
    }  

    
