@import '../../style/variables.scss';

.error-404-container{
    display: flex;
    flex-direction: column;
    gap: 139px;
    padding-top: 89px;
    justify-content: center;
    align-items: center;
    padding-bottom: 139px;

    @media (max-width: $small) {
        gap: 113px;
        padding-bottom: 113px;
        padding-top: 113px;
    } 

    .number-404{
        color: $secondary;
        font-size: 288px;
        font-style: normal;
        font-weight: 700;

        @media (max-width: $small) {
            font-size: 96px;
        }  
    }

    .error-message{
        color: $secondary;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;

        @media (max-width: $small) {
            font-size: 18px;
            text-align: center;
        }  
        
    }


    .error-nav-link{
        color: #000;
        font-size: 18px;
        font-weight: 500;
        text-decoration-line: underline;

        &:visited{
            color: black;
        }

        &:hover{
            color: $secondary;
        }
    }
}